body {
  background-color: #640000;
}

#wrapper {
  margin: 24px auto;
  width: 960px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header{
  grid-column: span 12;
  padding: 5px;
  display: flex;
  
}

header img{
  width: 150px;
}

header h1{
  flex-grow: 1;
  color: white;
  background-color: red;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  padding-left: 24px;
  text-shadow: 2px 2px 2px #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

nav {
  grid-column: span 12;
  background-color:rgb(255, 255, 255) ;
  
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

nav li {
  width: 237px;
  display: inline-block;
  
}

nav li a {
  display: block;
  background-color: red;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-weight: bold;
  font-display: center;
  text-shadow: 2px 2px 2px #000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  transition: background-color 1.0s;
}

nav li a:hover {
  background-color:rgb(109, 8, 8);
  color: white;
}
Section{
  clear: both;
  grid-column: span 11;
  margin-top: 24px;
}

Section img{
  width: 300px;
  float: right;
}

aside{
  grid-column: span 1;
  margin-top: 15px;
  background-color: rgb(216, 216, 216);
  
}

main{
  grid-column: span 12;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main p{
  font-style: italic;
  font-weight: bold;
  font-size: 37px;

}

video {
grid-column: span 6;
}

#myCarousel{
  grid-column: span 12;
  width: 400px;
  margin-bottom: 24px;
}

#myCarousel img{
  width: 100%;
}

#myCarousel .f-carousel__slide {
  padding: 24px;
}

#myCarousel2{
  grid-column: span 12;
  width: 906px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

#myCarousel2 img{
  width: 100%;

}

#myCarousel2 .f-carousel__slide {
  text-align: center;
}

footer {
  background-color: red;
  grid-column: span 12;
  padding: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-top: 5px;
}

footer a{
  text-decoration: none;
  color: white;
}