body{
    background-image: url(2560x1440-gray-solid-color-background.jpg);
}

#wrapper {
    width: 960px;
    border: 5px solid rgb(0, 54, 189);
    background-color: white;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    grid-column: span 3;
    background-image: linear-gradient(to bottom, #007cbf, #0075b3, #006da8, #00669c, #015f91);
    padding-left: 15px;
    margin: 0px;
  }
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
    font-weight: normal;
    font-style: italic;
}
h1 a{
  color: lightblue;
  text-decoration: none;
}

h1 a:hover{
  color: white;
  text-decoration: none;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(0, 54, 189);
}

.borderbottom{
    border-bottom: 3px solid rgb(0, 54, 189);
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}


  nav {
    grid-column: span 3;
    background-color:rgb(25, 107, 221) ;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    width: 237px;
    display: inline-block;
  }
  
  nav li a {
    display: block;
    background-image: linear-gradient(to bottom, #007cbf, #0075b3, #006da8, #00669c, #015f91);
    padding: 1em;
    color: lightblue;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: bold;
  }

  nav li a:hover {
    background-color:rgb(20, 92, 193);
    color: white;
}

aside{
  grid-column: span 1;
  background-color: lightblue;
  
}

.asidetext{
  font-weight: bold;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;

}

.asidetext2{
  padding-top: 25px;
  font-weight: bold;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}

 main {
    grid-column: span 2;
    margin-right: 10px;
  }


  main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-right: 25px;
  }

  .boldtext{
    font-weight: normal;
  }

  main img{
    width: 300px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
  }

  main a{
    color: red;
    font-weight: bold;
    text-decoration: none;
  }

  main a:hover{
    color: blue;
    text-decoration: underline;
  }

  .box{
    border: 3px solid rgb(0, 54, 189);
  }

  .box2{
    border: 3px solid rgb(0, 54, 189);
    float: right;
  }

  footer {
    background-color: red;
    grid-column: span 3;
    padding: 10px;
  }
  .bordertop{
    border-top: 5px solid rgb(0, 54, 189);
  }

.gallerypage{
  background-color: white;
  margin-right: 25px;
}

.box3{
  width: 250px;
  margin-left: 25px;
}

.gallerytext{
  margin-right: 25px;
  margin-left: 25px;
}

.gallerytext a{
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.gallerytext a:hover{
  color: blue;
    text-decoration: underline;
}