body{
    background-image: url(a5bg.png);
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: white;
    padding: 20px;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
nav li {
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
}
nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: darkblue;
}
nav li a:hover {
    background-color: blue;
}

.customtextbox{
    color: white;
    font-weight: bold;
    font-style:italic ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: darkblue;
    border: 2px solid white;
    padding: 40px 40px 40px 40px;


}


h2{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;

}


main{
    background-color: white;
    padding: 20px;
}

main a:hover{
    color: red;
    text-decoration:underline ;
    font-weight:bold ;
}

main a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.bordertop{
    border-top: 3px solid black;
    padding-top: 15px;
}